* {
  box-sizing: border-box;
}

body,html {
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  height: 100%;
}

.hero-image {
  background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
                    url("../images/1.jpeg");
  height: 100%;
  background-position:center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #f1f1f1;
}

.hero-text h1{
  font-size: 5em;
}

.hero-text p {
  font-size:1.5em;
}

hr {
  border-top: 2px solid white;
  padding-bottom: 20px;
}

.element {
  padding-bottom: 15px;
  font-size: 1.4em;
}

#id_username,#id_password {
  border-radius: 30px;
  padding: 8px 8px;
}

button {
  margin-top: 20px;
}